<form class="form-horizontal"
      name="classForm"
      ng-submit="vm.submit()"
      ng-model-options="{updateOn:'submit'}"
      novalidate>

    <fieldset>
        <legend>{{::vm.title}}</legend>
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputClassName">Class Name</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputClassName"
                       name="inputClassName"
                       type="text"
                       placeholder="Class Name"
                       ng-model="vm.class.className"
                       ng-model-options="{updateOn:'blur'}"
                       ng-keyup="vm.cancelEntry(classForm.inputClassName,$event)"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputStartDate">Start Date</label>

            <div class="col-md-4">
                <input class="form-control"
                       type="date"
                       id="inputStartDate"
                       name="inputStartDate"
                       ng-model="vm.dates.startDate"
                       ng-model-options="{ getterSetter: true }"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputEndDate">End Date</label>

            <div class="col-md-4">
                <input class="form-control"
                       type="date"
                       id="inputEndDate"
                       name="inputEndDate"
                       ng-model="vm.dates.endDate"
                       ng-model-options="{ getterSetter: true }"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputInstructorEmail">Instructor's Email</label>

            <div class="col-md-4">
                <input class="form-control"
                       type="email"
                       id="inputInstructorEmail"
                       name="inputInstructorEmail"
                       placeholder="instructor's email"
                       ng-model="vm.class.instructorEmail" 
                       ng-model-options="{updateOn:'blur'}"
                       ng-keyup="vm.cancelEntry(classForm.inputInstructorEmail,$event)"/>
            </div>
            <div>{{vm.class.instructorEmail}}</div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputDescription">Description</label>

            <div class="col-md-10">
                <textarea class="form-control"
                          id="inputDescription"
                          placeholder="Description"
                          rows="3"
                          ng-model="vm.class.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-browns"
                            style="width:80px;margin-right:10px"
                            type="submit">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            type="button"
                            ng-click="vm.cancel()">
                        Cancel
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            type="button"
                            ng-click="classForm.$rollbackViewValue()">
                        Reset
                    </button>
                </span>
            </div>
        </div>

        <div ng-if="classForm.$submitted">
            Data was submitted
        </div>
    </fieldset>
</form>

